#cover{
  background: rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100000;
  min-height: 600px;
}
#addCon{

  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  width: 400px;
  text-align: center;
  padding:50px 0 ;
  border-radius: 10px;
  margin: auto;

}
.inputs{

  width: 300px;

}



#dateRange{
  width: 60%;
}
.select{
  width: 50%!important;
}
.title{
  font-size: 14px;
  margin-bottom: 5px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;

}
#con{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.topCon{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.topCon:nth-child(1){
  width: 40%;
}
.topCon:nth-child(2){
  width: 30%;
}
.topCon:nth-child(3){
  width:30%;
}
#table{
  width: 100%;
}
#table td{
  border:1px solid black;
  font-size: 16px;
}

#search{

}

